@import url(__logo/header__logo.css);

.header {
    margin: 45px auto 40px;
    height: 74px;
    border-bottom: 1px solid #545454;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
    .header {
        margin: 28px auto 42px;
        height: 56px;
       }
    .header__logo {
        width: 104px;
        margin-left: 27px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        height: 66px;
       }
}

