@import url(__button-close/editor__button-close.css);
@import url(__field-name/editor__field-name.css);
@import url(__field-status/editor__field-status.css);
@import url(__form/editor__form.css);
@import url(__frame/editor__frame.css);
@import url(__heading/editor__heading.css);
@import url(__submit-button/editor__submit-button.css);

.editor {
    z-index: 100;
    position: absolute;
    display: none;
}

