@import url(__button-close/editor__button-close.css);
@import url(__form/editor__form.css);
@import url(__frame/editor__frame.css);
@import url(__heading/editor__heading.css);
@import url(__submit-button/editor__submit-button.css);
@import url(__field/editor__field.css);
@import url(__overlay/editor__overlay.css);

.editor {
    z-index: 100;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
}

