@import url(__group/element__group.css);
@import url(__image/element__image.css);
@import url(__name/element__name.css);
@import url(__text/element__text.css);



.element {
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}